body {
  background: #939994;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

#message {
  display: inline-block;
  width: 20%;
  font-weight: bold;
}

.square {
  margin: 1.66%;
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  border-radius: 5%;
  transition: background-color 0.5s;
}

h1 {
  color: white;
  line-height: 1.1;
  padding: 20px 0;
  font-weight: normal;
  text-align: center;
  background-color: #077521;
  text-transform: uppercase;
  margin: 0;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}

.selected {
  color: white;
  background-color: #077521;
}

#colorDisplay {
  font-size: 200%;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: #077521;
  letter-spacing: 1px;
  font-size: inherit;
  font-family: "Montserrat";
  transition: all 0.25s;
  outline: none;
}

button:hover {
  color: white;
  background-color: #077521;
}
